@charset "utf-8";

.footer_mobile {
  background: #000;
  height: auto;
  position: fixed;
  z-index: 9999;
  bottom: 0!important;
  border: 0 #F00 solid;
  width: 100%;
  opacity: 0.9;
  color: #ffffff;
}

.footer_mobile .box {
  text-align: center;
  color: #ffffff;
  height: 45px;
  padding: 3px;
}

.footer_mobile .box a {
  color: #ffffff;
}
